<div class="route-details-container">
  <div class="route-table">
    <div>
      <div>
        <span>Route Id</span>
        <span>Source</span>
        <span>Destination</span>
        <span>Distance KM</span>
        <span>Estimated Time</span>
        <span>Action</span>
      </div>
    </div>
    <div>
      {{#each this.route.routes as |route|}}
        <div>
          <span>{{route.routeId}}</span>
          {{#if (eq this.currentRouteId route.routeId)}}
            <span>
              <select {{on "change" (fn this.updateField "editSource")}}>
                {{#each this.city.cities as |city|}}
                  <option
                    selected={{eq this.editSource city.cityName}}
                    value={{city.cityName}}
                  >{{city.cityName}}</option>
                {{/each}}
              </select>
            </span>
            <span>
              <select {{on "change" (fn this.updateField "edispanestination")}}>
                {{#each this.city.cities as |city|}}
                  <option
                    selected={{eq this.edispanestination city.cityName}}
                    value={{city.cityName}}
                  >{{city.cityName}}</option>
                {{/each}}
              </select>
            </span>
            <span>
              <input
                type="number"
                value={{this.edispanistance}}
                {{on "input" (fn this.updateField "edispanistance")}}
              />
            </span>
            <span>
              <input
                type="time"
                value={{this.editTime}}
                {{on "input" (fn this.updateField "editTime")}}
              />
            </span>
            <span>
              <button
                type="button"
                {{on "click" (fn this.saveRoute route.routeId)}}
              >Save</button>

              <button
                type="button"
                {{on "click" this.cancelRoute}}
              >Cancel</button>
            </span>
          {{else}}
            <span>{{route.source}}</span>
            <span>{{route.destination}}</span>
            <span>{{route.distanceKm}}</span>
            <span>{{route.estimatedTime}}</span>
            <span><button
                type="button"
                {{on "click" (fn this.editRoute route)}}
              >Edit</button>
              <button
                type="button"
                {{on "click" (fn this.deleteRoute route.routeId)}}
              >Delete</button></span>
          {{/if}}
        </div>
      {{/each}}

    </div>
  </div>

</div>