<html>
    <head></head>
    <body>
        <div>
            <ul>
                <h1>Add New Schedule</h1>
                <li>Journey Date: <input name="journeydate" type="date" {{on "input" this.handleInput}}></li>
                <li>Route Id: <input name="routeid" type="number" {{on "input" this.handleInput}}></li>
                <li>Bus Id: <input name="busid" type="number" {{on "input" this.handleInput}}></li>
                <li>Depature Time: <input name="deptime" type="datetime-local" {{on "input" this.handleInput}}></li>
                <li>Arrival Time: <input name="arrivaltime" type="datetime-local" {{on "input" this.handleInput}}></li>
                <li>Available Seats <input name="av_seats" type="number" {{on "input" this.handleInput}}></li>
                <li>Price: <input name="price" type="number" {{on "input" this.handleInput}}></li>
                <li><button {{on "click" this.addNewSchedule}}>Add</button></li>
            </ul>
        </div>
    </body>
</html>
