<html>
  <head></head>
  <body>
    <div>

      Select City:
      <select {{on "change" this.handleCity}}>
        <option selected disabled true>--</option>
        {{#each this.city.cities as |city|}}
          <option value={{city.cityId}}>{{city.cityName}}</option>
        {{/each}}
      </select>
      Enter location name:
      <input {{on "input" this.handleLocation}} type="text" />
      <button type="button" {{on "click" this.addLocation}}>Add</button>

    </div>
  </body>
</html>