<div class="schedule-details-container">
  <div class="schedule-details-table">
    <div>
      <div>
        <span>Schedule Status</span>
        <span>Schedule Id</span>
        <span>Route</span>
        <span>Bus</span>
        <span>Departure Time</span>
        <span>Arrival Time</span>
        <span>Price</span>
        <span>Journey Date</span>
        <span>Actions</span>
      </div>
    </div>
    <div>
      {{#each this.schedule.schedules as |schedule|}}
        <div>
          <span>
            {{#if (eq schedule.statusId 2)}}
              Cancelled
            {{else if (eq schedule.statusId 4)}}
              Completed
            {{else if (eq schedule.statusId 1)}}
              Active
            {{/if}}

          </span>
          <span>{{schedule.scheduleId}}</span>
          {{#if (eq this.currentScheduleId schedule.scheduleId)}}
            <span>
              <select
                value={{this.editRouteId}}
                {{on "change" (fn this.updateField "editRouteId")}}
              >
                {{#each this.route.routes as |route|}}
                  <option value={{route.routeId}}>{{route.source}}
                    -{{route.destination}}-{{route.distanceKm}}
                  </option>
                {{/each}}
              </select>
            </span>
            <span>
              <select
                value={{this.editBusId}}
                {{on "change" (fn this.updateField "editBusId")}}
              >
                {{#each this.bus.buses as |bus|}}
                  <option value={{bus.busId}}>{{bus.vehicleNumber}}
                    -{{bus.busType}}-{{bus.operatorName}}
                  </option>
                {{/each}}
              </select>
            </span>
            <span>
              <input
                type="datetime-local"
                value={{this.editArrivalTime}}
                {{on "input" (fn this.updateField "editArrivalTime")}}
              />
            </span>
            <span>
              <input
                type="datetime-local"
                value={{this.edispanepartureTime}}
                {{on "input" (fn this.updateField "edispanepartureTime")}}
              />
            </span>
            <span>
              <input
                type="number"
                value={{this.editPrice}}
                {{on "input" (fn this.updateField "editPrice")}}
              />
            </span>
            <span>
              <input
                type="date"
                value={{this.editJourneyDate}}
                {{on "input" (fn this.updateField "editJourneyDate")}}
              />
            </span>
            <span>
              <button
                type="button"
                {{on "click" (fn this.saveSchedule schedule.scheduleId)}}
              >Save</button>

              <button
                type="button"
                {{on "click" this.cancelEditSchedule}}
              >Revert</button>
            </span>
          {{else}}
            {{#each this.route.routes as |route|}}
              {{#if (eq route.routeId schedule.routeId)}}
                <span
                >{{route.source}}-{{route.destination}}-{{route.distanceKm}}</span>
              {{/if}}
            {{/each}}
            {{#each this.bus.buses as |bus|}}
              {{#if (eq bus.busId schedule.busId)}}
                <span
                >{{bus.vehicleNumber}}-{{bus.busType}}-{{bus.operatorName}}</span>
              {{/if}}
            {{/each}}

            <span>{{schedule.departureTime}}</span>
            <span>{{schedule.arrivalTime}}</span>
            <span>{{schedule.price}}</span>
            <span>{{schedule.journeyDate}}</span>
            <span><button
                type="button"
                {{on "click" (fn this.editSchedule schedule)}}
              >Edit</button>

              {{#if (eq schedule.statusId 1)}}
                <button
                  type="button"
                  {{on "click" (fn this.cancelSchedule schedule.scheduleId)}}
                >Cancel</button>
              {{/if}}
            </span>
          {{/if}}
        </div>
      {{/each}}

    </div>
  </div>

</div>