<div class="add-schedule-form-container">
  <ul>
    <br />
    <h1 class="add-schedule-title">Add New Schedule</h1><br />
    <li>
      Journey Date:
      <input
        name="journeydate"
        type="date"
        {{on "input" this.handleInput}}
      /></li>

    <li>Route:
      <select {{on "change" (fn this.updateField "routeId")}}>
        <option disabled selected value>select-route</option>
        {{#each this.routes as |route|}}
          <option
            value={{route.routeId}}
          >{{route.routeId}}---{{route.source}}---{{route.destination}}---{{route.distanceKm}}</option>
        {{/each}}
      </select>
    </li>

    <li>Bus:
      <select {{on "change" (fn this.updateField "busId")}}>
        <option disabled selected value>select-bus</option>
        {{#each this.buses as |bus|}}
          <option
            value={{bus.busId}}
          >{{bus.busId}}---{{bus.vehicleNumber}}---{{bus.busType}}---{{bus.operatorName}}</option>
        {{/each}}
      </select>
    </li>
    <li>Depature Time:
      <input
        name="deptime"
        type="datetime-local"
        {{on "input" this.handleInput}}
      /></li>
    <li>Arrival Time:
      <input
        name="arrivaltime"
        type="datetime-local"
        {{on "input" this.handleInput}}
      /></li>
    <li>Price:
      <input name="price" type="number" {{on "input" this.handleInput}} /></li>
    <li>
      Add Boarding Points:
      <br /><br />
      <div class="location-points-box">
        {{#each this.boardingLocations as |loc|}}
          <div
            {{on
              "click"
              (fn this.handleBoardDropLocations "BOARD" loc.locationId)
            }}
          >
            <h4
              class={{if
                (check-location-added
                  this.editBoardingLocationIds loc.locationId
                )
                "location-points selected"
                "location-points not-selected"
              }}
            >{{loc.locationName}}</h4>

          </div>
        {{/each}}
      </div>
    </li>
    <li>
      Add Dropping Points:
      <br /><br />
      <div class="location-points-box">
        {{#each this.droppingLocations as |loc|}}
          <div
            {{on
              "click"
              (fn this.handleBoardDropLocations "DROP" loc.locationId)
            }}
          >
            <h4
              class="location-points
                {{if
                  (check-location-added
                    this.editDroppingLocationIds loc.locationId
                  )
                  'selected'
                  'not-selected'
                }}"
            >{{loc.locationName}}</h4>
          </div>
        {{/each}}
      </div>
    </li>
    <li><button
        class="admin-panel-button"
        type="button"
        {{on "click" this.addNewSchedule}}
      >Add</button></li>
  </ul>
</div>