{{page-title "Bookings"}}
{{outlet}}

<div class="booking-page-container">
  <h2>All Bookings</h2>
  <div class="bookings-container">
    {{#each this.bookings.bookings as |booking|}}
      <div class="booking-card">
        <div class="booking-details-table">
          <div>
            <span>From</span>
            <span>To</span>
            <span>Boarding</span>
            <span>Dropping</span>
            <span>Operator</span>
            <span>Arrival</span>
            <span>Departure</span>
            <span>Date</span>
            <span>Paid</span>
          </div>
          <div>
            <span>{{booking.sourceCity}}</span>
            <span>{{booking.destinationCity}}</span>
            <span>{{booking.boardingLocation}}</span>
            <span>{{booking.droppingLocation}}</span>
            <span>{{booking.operatorName}}</span>
            <span>{{booking.arrivalTime}}</span>
            <span>{{booking.departureTime}}</span>
            <span>{{booking.journeyDate}}</span>
            <span>{{booking.totalAmount}}</span>
          </div>
        </div>

        <div class="passenger-details-table">
          <div>
            <span>Seat Number</span>
            <span>Passenger Name</span>
            <span>Passenger Age</span>
          </div>
          {{#each booking.passengerDetails as |passenger|}}
            <div>
              <span>{{passenger.seatNumber}}</span>
              <span>{{passenger.passengerName}}</span>
              <span>{{passenger.passengerAge}}</span>
              {{#if (eq passenger.status_id 1)}}
                <span
                  {{on
                    "click"
                    (fn this.cancelTicket passenger.scheduledSeatId)
                  }}
                  class="cancel-ticket"
                  disabled={{this.cancelLoading}}
                >
                {{if this.cancelLoading "Loading" "Cancel"}}</span>
              {{else if (eq passenger.status_id 2)}}
                <span class="cancelled-ticket">
                  Cancelled
                </span>
              {{else if (eq passenger.status_id 5)}}
                <span class="cancelled-ticket">
                  TRIP COMPLETED
                </span>
              {{else}}
                <span class="cancelled-ticket">
                  Schedule cancelled by admin. Amount will be refunded
                </span>
              {{/if}}

            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>